# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

.vs/

# many PDFs are too large for github to handle, so ignore them and we'll have to back them up manually. Luckily these files don't change.
/Docs/pdfs/**.pdf
